/*css template*/
html,body {
	max-height:100%;
	min-height:100%;
	padding:0;

}

html {
    background: url(http://imageshack.com/a/img903/4899/teM8Ba.jpg) no-repeat center center fixed;
    
    /*background-color: rgb(16,79,111);*/
    color:rgb(231,247,254);
	background-color: inherit;
  	/*-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;*/
  	background-size: cover;
}

body {
    color:rgb(140,173,211); /*lighter blue*/
    background-color: rgb(34,38,72);
	
    font-family: "Myriad Pro Cond", sans-serif;
    max-width: 1000px;
    min-width: 1000px;
    margin:0 auto;
    opacity: 0.9;
    
}

header{

    position:relative;
    background-image: url("./images/twoPlayers2.jpg");
    background-size: cover;
    height:245px;
    margin:0 auto;
}

h1 {
	font-family: "Impact", sans-serif;
	font-size: 52px;
	text-shadow: 4px 3px black;
	color: white;
	background-color: inherit; 
	position: absolute; 
	letter-spacing: 1px;
	top: 30px; 
	right:20px;
	text-align: right;

}

#wrapper {
	box-shadow: 1px 2px 4px 3px rgb(32,32,32);
	position:relative;
}

#content {
	min-height:500px;
	position: relative;
	padding-bottom:100px;
	width: 900px;
}

#content p {
	/*font-size: 18px;*/
	margin-top:1.5em;
    /*margin-left: 60px;
    margin-right: 150px;*/
    opacity: 1.0;
	width: 860px;
	margin-left: 70px;
	line-height: 25px;
	text-align: justify;
	margin-bottom: 0;
	padding-bottom: 0;
	
}

p#welcome{
    font-weight: 700;
    font-size: 26px;
	padding-bottom:20px;
}

p#announcement{
	font-weight: 700;
	font-size:22px;
	line-height: 30px;
}
h2{
	background-color:rgb(140,173,211); 
	color:rgb(34,38,72);
	border-radius: 0px;
	padding: 20px 0px 20px 0px;

	width: 400px;
	/*height: 40px;*/
	text-align: center;

	
  
}
h3{
	font-size:20px;
	color:inherit;
	background-color:inherit;
	
}
#jsImages{
	margin-left:50px;
	width:1000px;

}
#leftArrow{
	margin-bottom: 110px;
	opacity:0.8;
}
#rightArrow{
	margin-bottom: 110px;
	opacity:0.8;
}
img.center{
	margin-top:40px;
	display:block;

	/*
	margin-right: auto;
	/*border: 1px solid rgb(16,79,111);*/
}

img.equipment{
	float:left;
	padding-right:20px;
	margin-left: 30px;
	
}

#togs{
	padding-top:20px;

}

#mask{
	padding-top:5px;
}

#snorkel{
	padding-top:10px;
}

#hat{
	padding-top:20px;
}

#glove{
	line-height: 25px;
	margin-left: 340px;
	width:600px;
    display:block;
	text-align: justify;
	color:inherit;
	background-color:inherit;
}

#glove p{
	margin-left:0px;
}

#glove ul li{
	margin-left:20px;
	list-style-type: circle;
	
}

#stick{
	padding-top:20px;
}

#fins{
	padding-top:15px;
}

#note{
	font-size:12px;
}

.clear{
	clear:both;
	padding-top:20px;
}
	
table {
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left: 70px;
	padding-top:20px;
	font-size: 18px;
    opacity: 1.0;
}

table th, td{
	padding:10px;
}

table,th,td{
	border: 1px solid rgb(140,173,211);
	border-collapse: collapse;

}

#results{

	margin-left:260px; 

 	/*border: 1px solid rgb(140,173,211);
	border-collapse: collapse;  */

}

#results th{
	padding:10px;
	text-align: left;
	/*border: 1px solid rgb(140,173,211);
	border-collapse: collapse;  */
}

#results, #results th, #results td{
		border: 1px solid rgb(140,173,211);
	border-collapse: collapse;  
}
#results td{
	padding:10px;
	/*border: 1px solid rgb(140,173,211);
	border-collapse: collapse;  */

}

#results caption{
	font-weight:800;
	padding-top: 20px;
}

#content a:link{
    color:white;
	background-color:inherit;
	text-decoration: underline;
}

#content a:visited{
	color:rgb(136,136,136); 
	background-color:inherit;
	text-decoration: underline;
}

#content a:hover {
    color:rgb(140,173,211);
    background-color: inherit;
    text-decoration:none;
}

nav ul {
  
	list-style: none;
	color:inherit;
	background-color: rgb(34,38,72);
	text-align: center;
	padding: 0;
	margin: 0;
}
    
nav li {
  font-size: 1.2em;
  line-height: 66px;
  height: 65px;
  display: inline-block;
  /*margin:0 auto;*/
}
    

nav .border{
    /*width: 163px;*/
	min-width: 161.5px;
    /*
border-left: .1px solid rgb(34,38,72);
  border-right: .1px solid rgb(34,38,72);*/
}
nav .noBorder{
    /*width:165.5px;*/
	min-width: 165.5px;
}


nav a:link {
  text-decoration: none;
  color: rgb(34,38,72);
  background-color: rgb(140,173,211);
  display: block;
  transition: .3s background-color;
}

/* visited link */
nav a:visited {
  text-decoration: none;
  color: rgb(34,38,72);
  background-color: rgb(140,173,211);
  display: block;
  transition: .3s background-color;
}

nav a:active {
  color: rgb(140,173,211);
  display: block;
  background-color: rgb(34,38,100);
  /*cursor: default;*/
}

 
nav a:hover {
  color: rgb(140,173,211);
  background-color: rgb(34,38,72);
}

footer {
	background-color:rgb(140,173,211);
	color:rgb(34,38,72);
	text-align:center;
	width:100%;
	height:80px;
	position:absolute;
	bottom:0;
	
	font-size: 12px;

}
footer p{
	margin:0;
	padding-top:15px;
}

footer .top{
	background-color:inherit;
	color:white;
	text-decoration: underline;

}
footer .top:hover {
   	color:rgb(34,38,72);
    background-color: inherit;
    text-decoration:none;
}
/*Contacts.html exclusive modifications*/


.moreContact{

}

#contactsContent {
	min-height:500px;
	position: relative;
	padding-bottom:100px;
	width: 900px;
}

#contactsContent p{
	/*font-size: 18px;*/
	margin-top:0em;
    /*margin-left: 60px;
    margin-right: 150px;*/
    opacity: 1.0;
	width: 860px;
	margin-left: 70px;
	line-height: 25px;
	text-align: center;
	margin-bottom: 0;
	padding-bottom: 0;
	
}

hr{
	width:1000px;
}

/*Form*/
#contact{
	text-align: center;
	color:rgb(34,38,72);
	background-color:rgb(140,173,211);
	margin-top:0em;
	padding: 30px 0px;
}
form{
	margin-left: 260px;
    background-color:rgb(209,222,237);
    color:rgb(34,38,72);
    min-width:500px;
    min-height:660px;
	max-height:100%;
	max-width:500px;
	padding: 0px;
	border: 2px solid rgb(140,173,211);
	border-radius: 4px;
	
}

.hidden {
	display:none;
}
ul{
    list-style-type:none;
    margin:0;
    padding:0;
}

fieldset{
    /*background-color:rgb(79,84,125);*/
	border: 1px solid rgb(34,38,72);
	border-radius: 4px;
    color: inherit;
	background-color:inherit;
    margin: 15px;
	
}

legend{
  	background-color: rgb(140,173,211);
  	color:rgb(34,38,72);
  	padding: 5px;
  	border: 1px solid;
	border-radius: 4px;
	
}

/* *** */
.textInputs label{
  	float: left;
  	width: 150px;

}

.textInputs input{
  	float: left;
  	width: 280px;
}

.textInputs li{
  	clear:both;
    height:1.5em;
    margin-bottom:5px;
}

/* *** */
.listitem li{
    float:left;
    width:33%;
}	

.button{
  	text-align: center;
  

}



#foot{
    clear:both;
}

#comments{
	min-width:430px;
	max-width:430px;
}